 <!-- Pagina che mostra i dettagli (presi da Scopus => AGGIORNATI) di una affiliazione -->

{% extends 'base.html' %} <!-- estendo il file base.html (Scheletro) -->

{% block title %}Dettagli dell'affiliazione{% endblock title %} <!-- estensione titolo -->

{% block onload %}
    {% if user.is_authenticated %}
        onload="buildAffiliationDetails();"
    {% endif %}
{% endblock onload %} <!-- Estensione funzione onload -->


{% block content %} <!-- Estensione contenuto del body -->
    {% if user.is_authenticated %}  <!-- Sezione utente loggato -->
        <div id="items-container">
            <div id="form-wrapper"> <!-- Intestazione -->
                <h2>Caricamento dei dettagli dell'affiliazione ...</h2>
            </div>
            <div id="item-wrapper">
                <div class='element-wrapper'>
                    <table id="item-table"> <!-- Tabella che conterrà i dettagli -->
                        <tr>
                            <th>Dettagli</th>
                            <th>-</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div onclick='history.back()' class='element-wrapper link-td'>Indietro</div>
        </div>
    {% else %}  <!-- Sezione utente NON loggato -->
        {% include 'components/not_logged.html' %} <!-- Includo la parte di codice da mostrare se utente non loggato -->
    {% endif %}
{% endblock content %}

{% block other %} <!-- Estensione -->
    <script type="text/javascript">

        function buildAffiliationDetails(){ 
        /* 
            Funzione con cui populo la tabella 'item-table' con i dettagli di una affiliazione.
        */

            var url = '{% url 'api:affiliation-details-refresh' "replace_id" %}'; // URL della API che restituisce i dettagli dell'affiliazione
            var url = url.replace("replace_id",{{affiliationScopusId}})
            // console.log('URL: ',url)
            
            fetch(url) // Chiamata API
            .then((resp) => resp.json()) // Conversione in Stream -> JSON della risposta
            .then(function(data){ 
                // console.log('Dettagli:', data)
                var form_wrapper = document.getElementById("form-wrapper") // Intestazione della pagina
                form_wrapper.innerHTML = "<h2>"+data.name+"</h2>"

                var table =  document.getElementById("item-table") // Tabella da populare con i dettagli affiliazione
                
                var row = table.insertRow(1) // Inserisco 1 riga in posizione 1
                row.id = "scopusId" // ID riga
                var title = row.insertCell(0) // Cella di posizione 0
                title.innerHTML = "ScopusId" 
                var scopusId = row.insertCell(1) // Cella di posizione 1
                scopusId.innerHTML = data.scopusId

                var row = table.insertRow(2) 
                row.id = "address"
                var title = row.insertCell(0)
                title.innerHTML = "Indirizzo"
                var address = row.insertCell(1) 
                address.innerHTML = data.address+", "+data.city+"("+data.state+"), "+data.country

                var row = table.insertRow(3)
                row.id = "postal-code"
                var title = row.insertCell(0)
                title.innerHTML = "Codice Postale"
                var postal_code = row.insertCell(1)
                postal_code.innerHTML = data.postal_code

                var row = table.insertRow(4)
                row.id = "url"
                var title = row.insertCell(0)
                title.innerHTML = "Sito"
                var aff_url = row.insertCell(1)
                aff_url.className = "link-td" // Classe della cella 1
                aff_url.onclick = function(){window.open(data.url)} // Proprietà onclick della cella 1
                aff_url.innerHTML = data.url

                var row = table.insertRow(5)
                row.id = "document_count"
                var title = row.insertCell(0)
                title.innerHTML = "N° documenti"
                var document_number = row.insertCell(1)
                document_number.innerHTML = data.document_count

                var row = table.insertRow(6)
                row.id = "author_count"
                var title = row.insertCell(0)
                title.innerHTML = "N° autori"
                var author_number = row.insertCell(1)
                author_number.innerHTML = data.author_count
            })
        }
    </script>
{% endblock other %}