{% extends 'base.html' %} <!-- estendo il file base.html (Scheletro) -->

{% block title %}Lista degli Utenti{% endblock title %} <!-- estensione titolo -->

{% block onload %}
    {% if user.is_authenticated %} 
       onload="buildAuthorList();"
    {% endif %}
{% endblock onload %} <!-- Estensione funzione onload -->


{% block content %} <!-- Estensione contenuto del body -->
    {% if user.is_authenticated %}
        <div id="items-container">
            <div id="form-wrapper">
                <h2>Caricamento Autori...</h2>
            </div>
            <div id="item-wrapper">
                <table id="item-table"> <!-- Tabella che conterrà gli autori-->
                    <tr>
                        <th>Id</th>
                        <th>Nominativo</th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </div>
    {% else %}
        {% include 'components/not_logged.html' %} <!-- Link login e registrazione -->
    {% endif %}
{% endblock content %}

{% block other %} <!-- Estensione -->
    <script type="text/javascript">
        function getCookie(name) { // Dato il nome del cookie mi restituisce il valore
            var cookieValue = null
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';')
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim()
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken'); // Valore del Token CSFR per effettuare le chiamate API con metodo diverso dalla GET

        function buildAuthorList(){ // Populo il div chiamato item-wrapper con i gruppi creati dall'utente
            var url = '{% url 'api:group-details' "replace_id" %}'; // URL della API che restituisce i dettagli del gruppo
            var url = url.replace("replace_id",{{groupId}}) // sostituisco replace_id con l'id dell'autore 

            fetch(url) // Chiamata
            .then((resp) => resp.json()) // Conversione in JSON della risposta
            .then(function(data){ // Funzione che lavora coi dati della risposta convertiti
                console.log('Autori:', data) // Scrittura di debug
                var form_wrapper = document.getElementById("form-wrapper")
                form_wrapper.innerHTML = "<h2>Autori del gruppo "+data.name+"</h2>"
                var lista = data.authors.sort() // Non sembra funzionare (RICONTROLLA)
                if (lista.length==0) // Non ci sono autori
                    document.getElementById("item-wrapper").innerHTML = `   
                                                                            <div class="element-wrapper">
                                                                                <h2>Non sono ancora presenti autori.</h2>
                                                                                <a href="#">Comincia ad aggiungerne</a>
                                                                            </div>
                                                                        `
                else {
                    for(var i in lista){ // Ciclo fra gli autori
                        var author_url = '{% url 'api:author-details-db' "replace_id" %}' // URL della API che restituisce i dettagli dell'utente (dal DB)
                        var author_url = author_url.replace("replace_id", lista[i]) // sostituisco replace_id con l'id dell'autore
                        console.log("ID AUTORE: "+author_url) // Scrittura di debug
                        
                        fetch(author_url) // Chiamata
                        .then((resp) => resp.json())  // Conversione in JSON della risposta
                        .then(function(details){ // Funzione che lavora coi dati della risposta convertiti
                            table = document.getElementById("item-table")
                            var row = table.insertRow(1) // Inserisco 1 riga
                            row.id = "author-"+details.id // id della riga
                            var id = row.insertCell(0) // Inserisco 1 cella in posizione 0
                            id.innerHTML = details.scopusId
                            var full_name = row.insertCell(1) // Inserisco 1 cella in posizione 1
                            full_name.innerHTML = details.surname+" "+details.name
                            full_name.className = "link-td" // Assegno la classe al td (servirà per il .css)
                            full_name.onclick = function(){redirectAuthorDetail(details.scopusId)} // Aggiungo la proprietà onclick
                            var button = row.insertCell(2) // Inserisco 1 cella in posizione 2
                            button.innerHTML = `<button class="btn btn-sm btn-outline-dark delete" onclick="deleteAuthor(${details.id})">Rimuovi</button> ` // Bottone di rimozione
                        })
                    }
                    document.getElementById("item-wrapper").innerHTML += "<div onclick='redirectGroupSnapshot()' class='element-wrapper link-td' align='right'>Visualizza Snapshot</div>"
                }
                document.getElementById("item-wrapper").innerHTML += "<div onclick='history.back()' class='element-wrapper link-td'>Indietro</div>"
            })
        }

        function deleteAuthor(author){
            console.log('Eliminazione Cliccata: ', author)
            var url = '{% url 'api:group-remove-author' "replace_id" "replace_id2" %}' // Creo la URL con groupId replace_id
            url = url.replace('replace_id', {{groupId}}) // sostituisco replace_id con l'id del group
            url = url.replace('replace_id2', author) // sostituisco replace_id con l'id dell'autore
            console.log("URL: ", url) // Scrittura di debug
            fetch(url,{ // Chiamata
                method: 'POST',
                headers: {
                    'Content-type':'application/json', // Indico che passerò un json
                    'X-CSRFToken':csrftoken // Inserisco il token CSFR
                }
            }).then((response)=>{ // Risposta
                row = document.getElementById("author-"+author)
                row.parentNode.removeChild(row) // Eliminazione del tr
                //buildAuthorList()
            })
        }

        function redirectAuthorDetail(authorScopusId){
            var url = '{% url 'frontend:author-details' "replace_id" %}' // Creo la URL con groupId replace_id
            url = url.replace('replace_id', authorScopusId) // sostituisco replace_id con l'id del group
            console.log("URL: ", url) // Scrittura di debug
            window.open(url, "_self") // Apertura della pagina nella stessa tab
        }

        function redirectGroupSnapshot(){
            var url = '{% url 'frontend:snapshot-compute' "replace_id" %}' // Creo la URL con groupId replace_id
            url = url.replace("replace_id", {{groupId}})
            console.log("URL: ", url) // Scrittura di debug
            window.open(url, "_self") // Apertura della pagina nella stessa tab
        }
    </script>
{% endblock other %}