<!-- Pagina che permette di aggiungere più utenti ad un gruppo tramite un file JSON -->

{% extends 'base.html' %} <!-- estendo il file base.html (Scheletro) -->

{% block title %}Lista dei Gruppi{% endblock title %} <!-- estensione titolo -->

{% block onload %}
    {% if user.is_authenticated %} 
       onload="buildOptionList();"
    {% endif %}
{% endblock onload %} <!-- Estensione funzione onload -->

{% block content %} <!-- Estensione contenuto del body -->
    {% if user.is_authenticated %} <!-- Sezione utente loggato -->
        <div id="items-container">
            <div class="element-wrapper"> <!-- Intestazione -->
                <h2>Aggiunta autori tramite file JSON</h2>
            </div>
            <div id="form-wrapper">
                <p>Carica un file <b>JSON</b> con la seguente <b>formattazione</b>:</p>
                <p>{"scopusIds": [id1, id2, id3, ...]}</p>
                <form id="form"> <!-- Form tramite la quale viene caricato il file e scelto il gruppo -->
                    <div class="flex-wrapper">
                        <div style="flex: 6">
                            <input id="file" class="form-control" type="file" name="file" accept="application/JSON">
                            <p style="padding: 5px" ><label for="groups">Seleziona il gruppo in cui aggiungere gli autori</label>
                            <select id="select-group">
                                <option value="0">Nessuno</option>
                            </select></p>
                            <p id="comunications"><p> <!-- Paragrafo che conterrà le comunicazione (Errori, Risultato dell'inserimento) -->
                        </div>
                        <div style="flex: 1">
                            <input id="submit" class="btn" type="submit">
                        </div>
                    </div>
                </form>
            </div>
            <div onclick='history.back()' class='element-wrapper link-td'>Indietro</div>
        </div>
    {% else %} <!-- Sezione utente NON loggato -->
        {% include 'components/not_logged.html' %} <!-- Includo la parte di codice da mostrare se utente non loggato -->
    {% endif %}
{% endblock content %}

{% block other %} <!-- Estensione -->
    <script type="text/javascript">
        
        function getCookie(name) {
        /*
            Funzione che dato il nome del cookie ne restituisce il valore se esiste
        */

            var cookieValue = null
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';')
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim()
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken'); // Valore del Token CSFR per effettuare le chiamate API con metodo diverso dalla GET

        function buildOptionList(){
        /*
            Funzione che popula la select con i nomi dei gruppi di proprietà dell'utente
        */

            var wrapper = document.getElementById('form-wrapper'); // Form che contiene le informazioni riguardo file e gruppo
            var url = "{% url 'api:groups-list' %}"; // URL della API che restituisce la lista dei gruppi
            var select = document.getElementById("select-group")

            fetch(url) // Chiamata
            .then((resp) => resp.json()) // Conversione in JSON della risposta
            .then(function(data){ 
                //console.log('Gruppi:', data)
        
                var lista = data
                if(lista.length==0) // Non ci sono gruppi
                wrapper.innerHTML = `   
                                            <p>
                                                Per aggiungere gli autori devi aver creato almeno un gruppo:
                                                <a href="{% url 'frontend:groups-list' %}">Gestione dei tuoi gruppi</a>
                                            </p>
                                        `
                else {  // Ci sono gruppi                                                     
                    for(var i in lista){ // Ciclo fra i gruppi, creo una option e la aggiungo alla select
                        var element = document.createElement("option")
                        element.textContent = lista[i].name
                        element.value = lista[i].id
                        select.appendChild(element)
                    }
                }
            })
        }

        // Sovrascrivo il comportamento successivo al submit della form chiamata form-wrapper
        document.getElementById('form-wrapper').addEventListener('submit', function(e){ // Aggiungo il listener sull'evento di submit
            e.preventDefault() // Evito che effettui il submit di default
            // console.log('Form submitted')
            checkAndAdd()
        })

        function checkAndAdd() {
        /*
            Funziona che controlla che
            - sia selezionato un gruppo
            - sia stato caricato un file con il giusto formato
            Se è tutto OK carica gli autori nel gruppo 
            Altrimenti ritorna l'errore
        */
        
            var comunications = document.getElementById("comunications") // Div contenente le comunicazioni
            var group_id = document.getElementById("select-group").value // valore della select (option selezionata)
            if(group_id == "0") { // Gruppo non selezionato
                comunications.style.color = "red"
                comunications.innerHTML= "Seleziona il gruppo in cui aggiungere gli autori"
            }
            else { // Gruppo selezionato
                file = document.getElementById("file").files[0] // File caricato
                if (file) { // Il file esiste
                    var reader = new FileReader(); // Lettore di file
                    reader.readAsText(file, "UTF-8")
                    reader.onload = function (evt) {
                        var file_content = evt.target.result // risultato della lettura
                        try {
                                var json_content = JSON.parse(file_content) // Conversione file di testo -> JSON
                                var scopusIds = json_content.scopusIds // Id degli attori
                                // console.log("IDs: ",scopusIds)
                                if(!scopusIds) { // Non è presente il campo scopusIds
                                        throw 'Sezione scopusIds MANCANTE'
                                    }
                                    else {
                                        comunications.style.color = "green"
                                        comunications.innerHTML= "Procedo ad aggiungere gli autori..."
                                        var url = '{% url 'api:group-add-multiple-authors' "replace_id" %}' // URL dell'API che aggiunge più autori in un gruppo
                                        url = url.replace("replace_id", group_id)
                                        // console.log("CONTENUTO",file_content)
                                        //console.log("URL: ",url)
                                        fetch(url, { // Chiamata
                                            method:'POST', // Metodo
                                            headers:{
                                                'Content-type':'application/json', // Indico che passerò un json
                                                'X-CSRFToken':csrftoken // Inserisco il token CSFR
                                            },
                                            body:file_content
                                        })
                                        .then(response => response.json())
                                        .then(function(response){ // Funzione che lavora con i dati ricevuti in risposta
                                            //console.log("Reponse: ",response)
                                            var url_authors_list = '{% url 'frontend:authors-list' "replace_id" %}' // URL della Pagina che mostra la lista di autori in un gruppo
                                            url_authors_list = url_authors_list.replace("replace_id", group_id)

                                            if(response["status"]!="false") { // Almeno 1 autore inserito
                                                comunications.style.color = "green"
                                                comunications.innerHTML= `
                                                                            Autori aggiunti correttamente: ${response["added_authors_number"]}</br>
                                                                            Errori: ${response["errors_number"]}</br>
                                                                            <a href=${url_authors_list}>Visualizza l'elenco aggiornato degli autori</a>`
                                            }
                                            else { // Nessun autore inserito
                                                comunications.style.color = "red"
                                                comunications.innerHTML= `
                                                                            Tutti gli autori specificati sono inesistenti o già presenti nel gruppo</br>
                                                                            <a href=${url_authors_list}>Visualizza l'elenco degli autori</a>`
                                            }
                                            document.getElementById('form').reset() // Svuoto il contenuto della form
                                        })                                        
                                    }
                        }
                        catch (error) { // Formato del file errato
                            // console.log("Errore:\n"+error)
                            comunications.style.color = "red"
                            comunications.innerHTML= "Il formato del file inserito non è corretto"
                        }
                    }
                    reader.onerror = function (evt) { // Errore nel caricamento del file
                        // console.log("Errore:\nNon riesco a reperire il file")
                        comunications.style.color = "red"
                        comunications.innerHTML= "Il formato del file inserito non è corretto"
                    } 
                }
                else{ // Impossibile aprire il file
                    // console.log("Errore:\nNon riesco a reperire il file")
                    comunications.style.color = "red"
                    comunications.innerHTML= "Non hai caricato nessun file"
                }
            }
        }

    </script>
{% endblock other %}