<!-- Pagina che mostra la lista dei gruppi di proprietò dell'utente -->

{% extends 'base.html' %} <!-- estendo il file base.html (Scheletro) -->

{% block title %}Lista dei Gruppi{% endblock title %} <!-- estensione titolo -->

{% block onload %}
    {% if user.is_authenticated %} 
       onload="buildGroupList();"
    {% endif %}
{% endblock onload %} <!-- Estensione funzione onload -->


{% block content %} <!-- Estensione contenuto del body -->
    {% if user.is_authenticated %} <!-- Sezione utente loggato -->
        <div id="items-container">
            <div class="element-wrapper">
                <h2>Gestione dei gruppi</h2> <!-- Intestazione -->
            </div>
            <div id="form-wrapper">
                <form id="form"> <!-- Form tramite la quale creo / modifico un gruppo -->
                    <div class="flex-wrapper">
                        <div style="flex: 6">
                            <input id="name" class="form-control" type="text" name="name" placeholder="Nome del Gruppo" required>
                            <textarea id="other-info" class="form-control" name="other-info" placeholder="Informazioni aggiuntive"  maxlength="200"></textarea>
                        </div>
                        <div style="flex: 1">
                            <input id="submit" class="btn" type="submit" value="Procedi">
                        </div>
                    </div>
                </form>
            </div>
            <div id="item-wrapper"> <!-- Div da popolare con la lista dei gruppi -->
                Caricamento dei gruppi in corso...
            </div>	
        </div>
    {% else %} <!-- Sezione utente NON loggato -->
        {% include 'components/not_logged.html' %} <!-- Includo la parte di codice da mostrare se utente non loggato -->
    {% endif %}
{% endblock content %}

{% block other %} <!-- Estensione -->
    <script type="text/javascript">
        function getCookie(name) {
        /*
            Funzione che dato il nome del cookie ne restituisce il valore se esiste
        */

            var cookieValue = null
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';')
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim()
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken'); // Valore del Token CSFR per effettuare le chiamate API con metodo diverso dalla GET
        var activeGroup = null // Gruppo da modificare

        function buildGroupList(){
        /*
            Funzione che popula il div 'item-wrapper' con i gruppi appartenenti all'utente
        */
        
            var wrapper = document.getElementById('item-wrapper') // Div da populare
            wrapper.innerHTML=""
            var url = "{% url 'api:groups-list' %}"; // URL della API che restituisce la lista dei gruppi

            fetch(url) // Chiamata
            .then((resp) => resp.json()) // Conversione Stream -> JSON della risposta
            .then(function(data){
                // console.log('Gruppi:', data)
        
                var lista = data // Lista di gruppi
                if(lista.length==0) // Non ci sono gruppi
                    wrapper.innerHTML = `   
                                            <div class="element-wrapper">
                                                <h2>Non sono ancora presenti gruppi.</h2>
                                                <span>Comincia creandone uno</span>
                                            </div>
                                        `
                else { // Ci sono gruppi                                                  
                    for(var i in lista){ // Ciclo fra i gruppi
                        var item = `
                                    <div id="group-${lista[i].id}" class="element-wrapper flex-wrapper">
                                        <div style="flex:7">
                                            <span class="name link-td">${lista[i].name}</span>
                                        </div>
                                        <div style="flex:2">
                                            <button class="btn btn-sm btn-outline-info edit">Modifica </button>
                                        </div>
                                        <div style="flex:2">
                                            <button class="btn btn-sm btn-outline-dark delete">Elimina</button>
                                        </div>
                                    </div>
                                ` // Creazione dell'elemento contenente nome del gruppo e bottoni per la modifica / eliminazione
                        wrapper.innerHTML += item; // Aggiunta dell'elemento al div
                    }

                    for(var i in lista){ // Ciclo fra i gruppi
                        var editBtn = document.getElementsByClassName('edit')[i] // Bottone modifica
                        var deleteBtn = document.getElementsByClassName('delete')[i] // Bottone Delete
                        var name = document.getElementsByClassName('name')[i] // Campo name

                        editBtn.addEventListener('click', (function(group){ // Aggiungo il listener sull'evento di click del bottone Edit
                            return function(){
                                editGroup(group)
                            }
                        })(lista[i]))

                        deleteBtn.addEventListener('click', (function(group){ // Aggiungo il listener sull'evento di click del bottone Delete
                            return function(){
                                deleteGroup(group)
                            }
                        })(lista[i]))

                        name.addEventListener('click', (function(group){ // Aggiungo il listener sull'evento di click del testo contenente il nome
                            return function(){
                                redirectGroupDetail(group)
                            }
                        })(lista[i]))
                    }
                }
            })
        }

        // Sovrascrivo il comportamento successivo al submit della form chiamata form-wrapper
        var form = document.getElementById('form-wrapper') // Form per la creazione/modifica di un gruppo
        form.addEventListener('submit', function(e){ // Aggiungo il listener sull'evento di submit
            e.preventDefault() // Evito che effettui il submit di default
            // console.log('Form submitted')
            var url = '{% url 'api:group-create' %}' // URL dell'API che crea un gruppo
            if(activeGroup != null) { // E' un update (NON una create)
                var url = '{% url 'api:group-update' "replace_id" %}' // Creo la URL con groupId replace_id
                url = url.replace('replace_id', activeGroup.id) 
                // console.log("URL: ", url)
                activeGroup = null
            }
            var name = document.getElementById('name').value // valore del campo name
            var other_info = document.getElementById('other-info').value // valore del campo other_info
            
            fetch(url, { // Chiamata
                method:'POST', // Metodo
                headers:{
                    'Content-type':'application/json', // Indico che passerò un json
                    'X-CSRFToken':csrftoken // Inserisco il token CSFR
                },
                body:JSON.stringify({ // Corpo della richiesta dove passo i paramentri
                                        "name":name,
                                        "other_info":other_info
                                    })
            }
            ).then(function(response){ 
                buildGroupList(); // Ricreo la lista degli autori
                document.getElementById('form').reset() // Svuoto il contenuto della form
            })
        })

        function editGroup(group) {
        /*
            Funzione che mette nella variabile globale 'activeGroup' e riempe i campi della form con quelli presenti al momento
        */

            // console.log("Update Cliccato: ", group) // Scrittura di debug
            activeGroup = group
            document.getElementById('name').value = group.name // nome
            document.getElementById('other-info').value = group.other_info // descrizione
        }

        function deleteGroup(group){
        /*
            Funzione che dato un gruppo lo elimina
        */

            // console.log('Eliminazione Cliccata: ', group)
            var url = '{% url 'api:group-delete' "replace_id" %}' // Creo la URL con groupId replace_id
            url = url.replace('replace_id', group.id)
            // console.log("URL: ", url)
            fetch(url,{ // Chiamata
                method: 'DELETE',
                headers: {
                    'Content-type':'application/json', // Indico che passerò un json
                    'X-CSRFToken':csrftoken // Inserisco il token CSFR
                }
            }).then((response)=>{
                element = document.getElementById("group-"+group.id) // elemento da rimuovere
                element.remove()
                document.getElementById('form').reset()
            })
        }

        function redirectGroupDetail(group){
        /*
            Funzione che dato un gruppo redirige alla pagina di dettaglio di esso
        */

            var url = '{% url 'frontend:authors-list' "replace_id" %}' // Creo la URL con groupId replace_id
            url = url.replace('replace_id', group.id)
            // console.log("URL: ", url)
            window.open(url, "_self") // Apertura della pagina nella stessa tab
        }
    </script>
{% endblock other %}