{% extends 'base.html' %} <!-- Estensione del template di base -->

{% block title %}Home{% endblock %}
  
{% block content %}
  {% if user.is_authenticated %} <!-- Utente autenticato -->
    <div id="items-container">
      <div id="form-wrapper">
        <h2>Ciao <b>{{ user.username }}</b></h2>
        <p>Riprendi da dove hai lasciato:</p>
        <p><a href="{% url 'frontend:group-list' %}">Gestisci i tuoi gruppi</a></p>
        <p><a href="#">Cerca autori</a></p>
        {% if user.is_superuser %}
          <p><a href="{% url 'admin:index' %}">Apri pannello di amministrazione</a></p>
        {% endif %}
      </div>
    </div>
  {% else %} <!-- Utente non autenticato -->
    <div id="items-container">
      <div id="form-wrapper">
        {% include 'components/not_logged.html' %} <!-- Link login e registrazione -->
      </div>
    </div>
  {% endif %}
{% endblock %}