<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GBs - {% block title %}{% endblock %}</title> <!-- Titolo -->
    </head>
    <body>
        <p id="links"> <!-- Link 'Navbar' -->
            <a href="{% url 'gbliometrics:home' %}">Home</a>
            <span style="float:right">
                {% block links %}
                    {% if user.is_authenticated %} <!-- Utente autenticato -->
                        <a href="{% url 'logout' %}">Logout</a></t>
                    {% else %} <!-- Utente non autenticato -->
                        <a href="{% url 'login' %}">Log In</a></t>
                        <a href="{% url 'signup' %}">Registrati</a>
                    {% endif %}     
                {% endblock %}
            </span>
        </p>
        <main>
        {% block content %}
        {% endblock %}
        </main>
    </body>
</html>