{% extends 'base.html' %}

{% block title %}Inserisci la nuova password{% endblock %}

{% block content %}
    {% if validlink %} <!--- link valido (ad esempio non già utilizzato) -->
        <div id="items-container">
            <div id="form-wrapper">
                <h1>Inserisci la nuova password</h1>
                <form method="POST"> <!-- form di immissione della nuova password (ripetuto) -->
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Cambia la password">
                </form>
            </div>
        </div>  
    {% else %} <!-- Link non valido -->
        <div id="items-container">
            <div id="form-wrapper">
                <p>Il link di reset della password non è valido, probabilmente perchè già usata in passato.</p>
                <p><a href="{% url 'password_reset' %}">Richiedi un nuovo reset</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}