{% extends 'base.html' %}

{% block title %}Password smarrita?{% endblock %} <!-- Titolo -->

{% block content %}
        <div id="items-container">
            <div id="form-wrapper">
                <h2>Hai dimenticato la Password?</h2>
                <p>Inserisci il tuo indirizzo email qui sotto e ti invieremo le istruzioni per crearne una nuova.</p>

                <form method="POST"> <!-- Form in cui inserire la mail -->
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Inviami le istruzioni">
                </form>
                <p><a href="{% url 'frontend:home' %}">Torna alla Home</a></p>
            </div>
        </div>  
{% endblock %}