{% extends 'base.html' %}

{% block title %}Password smarrita?{% endblock %} <!-- Titolo -->

{% block content %}
        <h1>Cambio password</h1>
        <p>Inserisci la password attuale e poi la nuova password due volte</p>

        <form method="POST"> <!-- Form in cui inserire la mail -->
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Modifica la password">
        </form>
        <p><a href="{% url 'password_reset' %}">Clicca qui se hai dimenticato la password</a></p>
{% endblock %}