<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
    <a class="navbar-brand" href="{% url 'frontend:home' %}">GBliometrics</a>
    
    {% if user.is_authenticated %}
        <ul class="navbar-nav">
            {% if "groups" in request.path %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="{% url 'frontend:group-list' %}">I miei Gruppi</a>
            </li>
            {% if "author" in request.path and not "groups" in request.path %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="#">Autori</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                {{user.username}}
                </a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'password_change' %}">Gestione Password</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        </ul>
    {% else %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registration_register' %}">Registrati</a>
            </li>
        </ul>
    {% endif %}
</nav>

