{% extends 'base.html' %} <!-- Estensione il template di base -->

{% block title %}Registrazione{% endblock %} <!-- Titolo -->

{% block content %}
    {% if not user.is_authenticated %} <!-- utente non autenticato -->
        <h2>Registrazione</h2>
        <form method="post"> <!-- form di registrazione -->
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrati</button>
        </form>
    {% else %} <!-- Utente autenticato -->
        <p>Sei loggato. Per creare un nuovo utente devi prima effettuare il Logout</p>
    {% endif %}
{% endblock %}